<div class="login-content-block col-12 mx-auto">
  <div class="card">
    <div class="card-body mb-4">

      <div class=" mt-5 col-7 mx-auto" style="border: px solid red;">
        <h2 class="text-center">註冊</h2>
        <span class="notes ms-auto text-end d-block mt-3">
          <span class="text-danger">*</span>
          必填欄位
        </span>
      </div>

      <form class=" mb-4 col-7 mx-auto" action="">
        <label for="name" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          名稱：
        </label>
        <input type="text" class="form-control mb-4" id="name" name="name" value="" required>

        <label for="name" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          Email：
        </label>
        <input type="text" class="form-control mb-4" id="name" name="email" value="" required>

        <label for="name" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          密碼：
        </label>
        <input type="text" class="form-control mb-4" id="name" name="password" value="" required>

        <label for="name" class="form-label text-end px-0 mb-1"><span class="text-danger">*</span>
          確認密碼：
        </label>
        <input type="text" class="form-control mb-4" id="name" name="confirmPassword" value="" required>

        <button type="submit" class="btn btn-warning btn-lg mt-5 d-block col-5 mx-auto">註冊</button>
      </form>

    </div>
  </div>
</div>