<div class="login-content-block col-12 mx-auto mb-5">
  <div class="card">
    <div class="card-body mb-4">

      <div class=" mt-5 col-7 mx-auto" style="border: px solid red;">
        {{>message}}
        <h2 class="text-center">註冊</h2>
        <span class="notes ms-auto text-end d-block mt-3">
          <span class="text-danger">*</span>
          必填欄位
        </span>
      </div>

      <form class=" mb-4 col-7 mx-auto" action="/user/register" method="post">
        <label for="name" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          名稱：
        </label>
        <input type="text" class="form-control mb-4" id="name" name="name" value="{{name}}" required>

        <label for="email" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          Email：
        </label>
        <input type="email" class="form-control mb-4" id="email" name="email" value="{{email}}" required>

        <label for="password" class="form-label text-end px-0 mb-1">
          <span class="text-danger">*</span>
          密碼：
        </label>
        <input type="password" class="form-control mb-4" id="password" name="password" value="{{password}}" required>

        <label for="confirmPassword" class="form-label text-end px-0 mb-1"><span class="text-danger">*</span>
          確認密碼：
        </label>
        <input type="password" class="form-control mb-3" id="confirmPassword" name="confirmPassword"
          value="{{confirmPassword}}" required>

        <span>已經有帳號了？</span>
        <a href="/user/login">登入</a>

        <button type="submit" class="btn btn-warning btn-lg mt-4 d-block col-9 mx-auto">註冊</button>
        <a href="/auth/facebook" class="btn btn-primary btn-lg col-9 d-block mx-auto mt-2">使用Facebook登入</a>
      </form>

    </div>
  </div>
</div>